/* 글자 폰트 적용 */
@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("./assets/fonts/HelveticaNeueRoman.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HelveticaNeueRoman", sans-serif;
}

/* 전체 페이지 레이아웃 */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #f8f8f8;
}

/* 제목 텍스트 */
.title {
  position: absolute;
  top: 66px;
  left: 50px;

  width: 729px;
  height: 119px;

  font-size: 64px;          
  font-weight: 400;         
  color: #989898;
  opacity: 1;
  margin: 0;
  padding: 0;
}

/* 왼쪽 버튼 영역 */
.left-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 40px 20px;
  margin-top: 35vh;
}

/* 버튼 스타일 */
.sound-btn {
  border: none;
  background: transparent;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 400;
  color: #606060;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sound-btn:hover {
  background: #00000033; /* 업로드한 이미지처럼 연한 회색 */
}

/* 플레이어바 전체 스타일 */
.player-container {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 80px;
  backdrop-filter: blur(8px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0px 10px 0px;
  
  margin-bottom: 5vh;
}

/* 플레이어 진행바 스타일 */
.progress-container {
  width: 100%;
  height: 5px;
  background: #E3E3E3;
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #ACACAC;   /* 진행된 부분 색 */
  border-radius: 999px;
}

/* 플레이어바 컨트롤 버튼 스타일 */
.player-controls {
  display: flex;
  gap: 15px;
  padding-left: 25px;
  padding-top: 10px;
}

.player-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #606060;
  transition: opacity 0.2s;
}

.player-btn:hover {
  opacity: 0.5;
}

/* 플레이어바 상단에 표기되는 음악 제목 */
.file-name {
  font-size: 10px;  
  color: #606060;
}

/* 음악 업로드 시 배경 그라데이션 효과 */
.background-gradient {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70vw;
  height: 70vw;

  background: radial-gradient(
    circle,
    rgba(77, 170, 255, 0.45) 0%,   
    rgba(30, 136, 229, 0.30) 35%,  
    rgba(25, 118, 210, 0.20) 55%,  
    rgba(13, 71, 161, 0.10) 75%,
    transparent 100%
  );

  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
}